<section class="content-section bg-green quote mt-5 mb-5 info-section">
  <div class="container text-center">
    <p>Send Us The Below Details To Best Understand Your Needs</p>
    <h2>
      <strong
        >Get A Tailored Char Dham Yatra From Dehradun Quote In Just 24
        Hours</strong
      >
    </h2>

    <form action="" class="mt-5">
      <div class="row text-start">
        <div class="col-lg-4 mt-5">
          <label for="fullName">Your Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            aria-label="Your Full Name"
          />
        </div>

        <div class="col-lg-4 mt-5">
          <label for="phone">Your Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            aria-label="Your Phone Number"
          />
        </div>

        <div class="col-lg-4 mt-5">
          <label for="email">Your Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-label="Your Email Address"
          />
        </div>

        <div class="col-lg-4 mt-5">
          <label for="inputadults">Total Adults (12+ Years)</label>
          <select id="inputadults" class="form-select">
            <option selected>1 Adult</option>
            <option>2 Adults</option>
            <option>3 Adults</option>
            <option>4 Adults</option>
            <option>5 Adults</option>
            <option>6 Adults</option>
            <option>7 Adults</option>
            <option>8 Adults</option>
            <option>9 Adults</option>
            <option>10 Adults</option>
            <option>11 Adults</option>
            <option>12 Adults</option>
            <option>12+ Adults</option>
          </select>
        </div>

        <div class="col-lg-4 mt-5">
          <label for="inputchild">Total Children (6 to 11 Years)</label>
          <select id="inputchild" class="form-select">
            <option selected>1 child</option>
            <option>2 child</option>
            <option>3 child</option>
            <option>4 child</option>
            <option>5 child</option>
            <option>6 child</option>
            <option>7 child</option>
            <option>8 child</option>
            <option>9 child</option>
            <option>10 child</option>
            <option>10+ child</option>
          </select>
        </div>

        <div class="col-lg-4 mt-5">
          <label for="startPlace">Tour Starting/Ending place</label>
          <select id="startPlace" class="form-select">
            <option selected>New Delhi</option>
            <option>Haridwar</option>
            <option>Rishikesh</option>
            <option>Dehradun</option>
            <option>Kathgodam</option>
            <option>Ramnagar</option>
          </select>
        </div>

        <div class="col-lg-4 mt-5">
          <label for="tourstart">Tour Start Date</label>
          <input
            type="date"
            class="form-control"
            id="tourstart"
            name="tourstart"
          />
        </div>

        <div class="col-lg-4 mt-5">
          <label for="tourend">Tour End Date</label>
          <input type="date" class="form-control" id="tourend" name="tourend" />
        </div>

        <div class="col-lg-4 mt-5">
          <label for="tourClass">Select a Tour Class</label>
          <select id="tourClass" class="form-select">
            <option selected>Budget</option>
            <option>Delux</option>
            <option>Executive</option>
            <option>Premium</option>
            <option>Luxury</option>
          </select>
        </div>

        <div class="col-lg-12 mt-5">
          <textarea
            name="text-area"
            id="comment"
            rows="10"
            class="w-100"
            placeholder="Write More about your preferences"
          ></textarea>
        </div>
        <div class="col-12 d-flex justify-content-center mt-5">
          <button class="btn btn-primary" type="submit">
            Request A Free Quote
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
