<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-2 col-6 footer-links">
        <h4>Destinations</h4>
        <ul>
          <li><a href="#">Mussoorie</a></li>
          <li><a href="#">Rishikesh</a></li>
          <li><a href="#">Auli</a></li>
          <li><a href="#">Nainital</a></li>
          <li><a href="#">Kausani</a></li>
          <li><a href="#">Corbett</a></li>
          <li><a href="#">Chopta</a></li>
          <li>
            <a href="#"><span>Discover All Places</span></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Interests</h4>
        <ul>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Family Holidays</a></li>
          <li><a href="#">Wildlife</a></li>
          <li><a href="#">Ex Dehradun</a></li>
          <li><a href="#">Ex Delhi</a></li>
          <li><a href="#">Honeymoon and Romancing</a></li>
          <li><a href="#">Budget</a></li>
          <li><a href="#">Explore All Uttarakhand Tours</a></li>
        </ul>
      </div>

       <div class="col-lg-2 col-6 footer-links">
        <h4>Trending Tours</h4>
        <ul>
          <li><a href="#">Char Dham Yatra</a></li>
          <li><a href="#">Explore Garhwal Tour</a></li>
          <li><a href="#">Explore Kumaon Tour</a></li>
          <li><a href="#">Char Dham By Helicopter</a></li>
          <li><a href="#">Jim Corbett Tour Packages</a></li>
          <li><a href="#">Rishikesh Rafting And Camping Tour</a></li>
          <li><a href="#">Explore All Uttarakhand Tours</a></li>
        </ul>
      </div>


      <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
        <h4>Request a callback</h4>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="name" />
          </div>

          <!---->
          <div class="mb-3">
            <label for="contact-number" class="form-label"
              >Your Contact Number</label
            >
            <input type="text" class="form-control" id="contact-number" />
          </div>

          <!---->

          <div class="mb-3">
            <label for="email" class="form-label">Your Email Address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <button type="submit" class="btn btn-primary">Send Details</button>
        </form>
      </div>

   
      <br />

      <div class="col-lg-3 mt-5 footer-btn">
        <a href="/">Call: +91 9012 466 887</a>
      </div>
      <div class="col-lg-3 mt-5 footer-btn">
        <a href="/">Call: +91 7252 808 808</a>
      </div>
      <div class="col-lg-3 mt-5 footer-btn">
        <a href="/">Instant Chat With Us</a>
      </div>
      <div class="col-lg-3 mt-5 footer-btn">
        <a href="/">Mail: info@devbhumitourism.com</a>
      </div>

      <div class="col-lg-4">
        <h4>
          <i class="bi bi-geo-alt"></i> OUR LOCATIONS : CORBETT | HARIDWAR |
          RISHIKESH
        </h4>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 text-center">
          <img src="/assets/img/logo.png" alt="logo" class="logo" />
          <h3><strong>DEVBHUMI TRAVEL AND TOURISM LLP</strong></h3>
          <h2><strong>OUR AFFILIATIONS</strong></h2>
        </div>
        <div class="col-lg-3 d-flex justify-content-start align-items-center">
          <img src="/assets/img/ministry.png" class="img-fluid" />
        </div>

        <div class="col-lg-3 d-flex justify-content-start align-items-center">
          <img src="/assets/img/uttakhand.png" class="img-fluid" />
        </div>

        <div class="col-lg-3 d-flex justify-content-start align-items-center">
          <img src="/assets/img/kumaon.png" class="img-fluid" />
        </div>
        <div class="col-lg-3 d-flex justify-content-start align-items-center">
          <img src="/assets/img/gmvn.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="credits">
      <div class="copyright">
        Copyrights © 2024 - Devbhumi Travel And Tourism LLP
      </div>
      <ul>
        <li><a href="/">Inquire Now </a></li>
        <li><a href="/">Destinations </a></li>
        <li><a href="/">About Us </a></li>
        <li><a href="/">Blog </a></li>
        <li><a href="/">Contact Us </a></li>
        <li><a href="/">T & C</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
