<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="robots"
    content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}" />
  <meta
    property="article:publisher"
    content="https://www.facebook.com/devbhumiuttarakhandtourism/"
  />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:url" content="https://www.devbhumitourism.com/" />
  <meta
    property="og:site_name"
    content="Uttarakhand Tour Packages Tailored For 2024 | Devbhumi Tourism"
  />
  <meta property="og:image" content="/assets/img/logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="399" />
  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@devbhumihdr" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Moulpali&family=Nova+Flat&display=swap"
    rel="stylesheet"
  />

  <!-- plugins CSS Files -->
  <link
    href="/assets/plugins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/assets/plugins/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link href="/assets/plugins/aos/aos.css" rel="stylesheet" />
  <link
    href="/assets/plugins/glightbox/css/glightbox.min.css"
    rel="stylesheet"
  />
  <link href="/assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet" />
</head>
