<!-- mains JS Files -->
<script src="/assets/mains/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/mains/aos/aos.js"></script>
<script src="/assets/mains/glightbox/js/glightbox.min.js"></script>
<script src="/assets/mains/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/mains/swiper/swiper-bundle.min.js"></script>
<script src="/assets/mains/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/mains/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
