/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-primary: "Moulpali", sans-serif;
  --font-secondary: "Nova Flat", system-ui;
}

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #008374;
  --color-secondary: #f85a40;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
  overflow: clip;
}

.sections-bg {
  background-color: #f6f6f6;
}

.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  margin-bottom: 0;
  color: #6f6f6f;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-secondary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(248, 90, 64, 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.z-index {
  position: relative;
  z-index: 9999;
}
.topbar {
  background: transparent;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.topbar .contact-info i {
  font-style: normal;
  color: #fff;
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

@media (max-width: 575px) {
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

.topbar .social-links a {
  color: rgba(255, 255, 255, 1);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

.topbar .social-links a:hover {
  color: #fff;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  background-color: transparent;
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #000;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.blog-header .sticked {
  background-color: #fff !important;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.sticked-header-offset {
  margin-top: 70px;
}

/* Blog-details Section - Blog Details Page
------------------------------*/
.blog-details .article {
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  padding: 30px;
}

.blog-details .title {
  font-size: 48px;
  font-weight: bold;
}
.blog-details .content {
  margin-top: 20px;
}
.blog-details .content {
}

.blog-details .content table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.blog-details .content table td,
.blog-details .content table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.blog-details .content table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #000;
}

.blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-details .content blockquote {
  overflow: hidden;
  background-color: rgba(var(--default-color-rgb), 0.05);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-details .content blockquote p {
  color: var(--default-color);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-details .content img {
  max-width: 100%;
}
.blog-details .content iframe {
  max-width: 100%;
  height: auto;
}

.blog-details .sidebar {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
}

.blog-details .sidebar .sidebar-title {
  color: #057500;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.blog-details .sidebar .sidebar-item + .sidebar-item {
  margin-top: 40px;
}

.blog-details .sidebar .search-form form {
  background: #fff;
  border: 1px solid #057500;
  padding: 3px 10px;
  position: relative;
}

.blog-details .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
  background-color: #fff;
  color: #000;
}

.blog-details .sidebar .search-form form input[type="text"]:focus {
  outline: none;
}

.blog-details .sidebar .search-form form button {
  background: #057500;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog-details .sidebar .search-form form button i {
  line-height: 0;
}

.blog-details .sidebar .search-form form button:hover {
  background: rgba(var(--accent-color-rgb), 0.8);
}

.blog-details .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog-details .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog-details .sidebar .categories ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  transition: 0.3s;
}

.blog-details .sidebar .categories ul a:hover {
  color: var(--accent-color);
}

.blog-details .sidebar .categories ul a span {
  padding-left: 5px;
  color: rgba(var(--default-color-rgb), 0.5);
  font-size: 14px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: hidden;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }

  .navbar ul img {
    width: 70px;
  }
  .navbar ul li a img:hover a:before {
    visibility: hidden;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 131, 116, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-family: "Moulpali", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: rgba(0, 131, 116, 0.8);
  }

  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 106, 93, 0.8);
    z-index: 9996;
  }
}
.blog-header .navbar a,
.blog-header .topbar i,
.blog-header .topbar i a,
.blog-header .topbar p,
.blog-header .topbar i span,
.blog-header .topbar .social-links a {
  color: #000 !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background-image: url(/assets/img/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 60px 0;
  margin-top: -200px;
}
.hero-height {
  position: relative;
  padding: 60px 0 60px 0;
  margin-top: -150px;
}
.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero .container {
  position: relative;
  z-index: 99;
}

.hero h3 {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 16px;
}
.hero h2 {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 24px !important;
}
.hero p {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 16px;
}
.hero .btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.hero .btn a {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 16px;
  transition: all 0.5s;
}
.hero .btn a:hover {
  background-color: #000;
  color: #fff;
}
.hero hr {
  border: 2px solid #fff;
  width: 60px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero .btn {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Location Slider
--------------------------------------------------------------*/
.location .location-carousel,
.location .location-slider {
  overflow: hidden;
}
.location .location-item {
  background-repeat: no-repeat;
  background-size: cover !important;
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 250px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px !important;
}

.location .location-item h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem 0rem;
  font-family: var(--font-primary);
  background-color: rgba(0, 0, 0, 0.5);
}
.location .location-item h3 a {
  color: #fff;
}
.location .location-item h3 a:hover {
  color: #ffc107;
}
.location .location-item .category {
  position: absolute;
  top: 2px;
  left: 0;
}
.location .location-item .category a {
  background-color: #f9ae00;
  color: #fff;
  padding: 2px 12px;
}
.location .location-item .category p {
  background-color: #057500;
  color: #fff;
  margin-top: 0px;
  text-align: left;
  padding: 2px 12px;
}
.location .location-item .category p span {
  color: rgb(188, 188, 188);
  text-decoration: line-through;
}
.location .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.location .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  border: 1px solid #057500;
}
.location .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #057500;
}

/*--------------------------------------------------------------
# Content Page
--------------------------------------------------------------*/
.content-section {
  padding: 60px 0px;
  font-family: var(--font-primary) !important;
}
.content-section p {
  font-size: 18px;
}
.content-section h2 {
  font-size: 48px;
  font-weight: bold;
}
.toggleButton {
  border: none;
}
.package .card {
  position: relative;
}

.package .card .img {
  border-bottom: 5px solid rgba(0, 0, 0, 0);
}
.package .card .img img {
  width: 100%;
}
.package .card .price {
  position: absolute;
}
.package .card .price p {
  background-color: #f9ae00;
  padding: 6px;
  color: #fff;
  font-size: 16px;
  margin: 0px;
}

.package .card .price h6 {
  background-color: #057500;
  color: #fff;
  font-size: 16px;
  margin: 0px;
  padding: 6px;
}
.package .card .price h6 span {
  color: rgb(191, 191, 191);
  text-decoration: line-through;
}
.package .card .info {
  padding: 1rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.package .card .info h4 {
  font-size: 18px;
  font-weight: bold;
}
.package .card a {
  display: flex;
  gap: 12px;
  padding-left: 1rem;
  color: #057500;
}
.package .card {
  border: none;
  transition: all 0.5s;
}
.package .card:hover {
  box-shadow: 5px 5px 100px 5px rgba(0, 0, 0, 0.3);
}
.package .card:hover .img {
  background: linear-gradient(to right, #057500, #f9ae00);
}

.pkg-btn {
  display: flex;
  gap: 2rem;
  background-color: #000;
  padding: 1rem;
  width: 100%;
  color: #fff;
  border-radius: 16px;
  transition: all 0.5s;
  font-family: var(--font-primary);
  font-weight: bold;
}
.pkg-btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.1);
}
.pkg-btn .pkg-svg {
  fill: #fff;
  width: 32px;
}
.pkg-btn:hover .pkg-svg {
  fill: #000;
}
.bg-green {
  background-color: #00683c;
  font-family: var(--font-primary) !important;
  color: #fff !important;
}
.bg-orange {
  background-color: #f9ae00;
  font-family: var(--font-primary) !important;
}
.bg-ash {
  background-color: #f3f3f3;
  font-family: var(--font-primary) !important;
}
.mine {
  border-radius: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quote form input,
.quote form select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f9ae00;
  border-radius: 0px;
}
.quote form textarea {
  background-color: transparent;
  border: 1px solid #f9ae00;
  border-radius: 0px;
  color: #fff;
  padding: 2rem;
}

.quote form textarea::placeholder {
  color: #fff;
}
.quote form select.form-select {
  color: #fff;
}
.quote form select option {
  color: #000;
}
input#tourend.form-control,
input#tourstart.form-control {
  color: #fff;
}
.quote form input.form-control:focus,
.quote form select:focus {
  background-color: transparent;
  border-color: #fff;
  outline: none; /* Remove default focus outline */
  box-shadow: none;
}
.quote form textarea:focus {
  background-color: transparent;
  border-color: #fff;
  outline: none; /* Remove default focus outline */
  box-shadow: none;
}
.quote form label {
  text-align: start;
  font-size: 18px;
}

.quote form button[type="submit"] {
  background: #f9ae00;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.location-slider-2 p {
  font-size: 18px;
}
.location-slider-2 .location-item {
  flex-direction: column;
  box-shadow: none;
}
.location-slider-2 .location-item h3 {
  background-color: transparent;
}
.location-slider-2 .icon {
  border: 3px solid #fff;
  padding: 1rem;
  border-radius: 100%;
}
.location-slider-2 .trip {
  width: 50px;
  fill: #fff;
  transition: all 0.5s;
}
.location-slider-2 .location-item:hover .trip {
  fill: #000;
}
.location-slider-2 .location-item:hover .icon {
  background-color: #fff;
}

.table th {
  background-color: #00683c;
  color: #fff;
  padding: 1rem 0.5rem;
}
.table td {
  padding: 1rem 0.5rem;
}
.table a {
  color: #00683c;
}
.search form input {
  padding: 1rem;
  border-radius: 0px;
}

.search form button {
  background-color: #00683c;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: none;
  color: #fff;
  transition: all 0.5s;
}
.search form button:hover {
  background-color: #fff;
  color: #000;
}

.bg-gray {
  background-color: #4c4c4c;
  color: #fff;
}

/* Recent-posts Section - Home Page
------------------------------*/
.recent-posts article {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.recent-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.recent-posts .post-category {
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 10px;
}

.recent-posts .title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
}

.recent-posts .title a {
  color: var(--heading-color);
  transition: 0.3s;
}

.recent-posts .title a:hover {
  color: var(--accent-color);
}

.recent-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.recent-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.recent-posts .post-date {
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #000;
  padding: 50px 0;
  color: white;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-family: var(--font-primary);
}
.footer .footer-links ul a span {
  color: #fff;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer form button {
  background-color: #057500;
  border: #057500;
}
.footer form button:hover {
  background-color: #f9ae00;
}
.footer .footer-btn a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 16px;
  color: #000;
  transition: all 0.5s;
  font-family: var(--font-primary);
  font-size: 18px;
}
.footer .footer-btn a:hover {
  color: #fff;
  background-color: #057500;
}
.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.footer .info {
  background-color: #fff;
  padding: 30px 0px;
  color: #000;
}
.footer .credits ul {
  list-style: none;
  display: flex;
  gap: 18px;
}
.footer .credits a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-family: var(--font-primary);
}
